{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div style="width:100%;display: flex;justify-content: center;height: 400px;align-items: center;">
    <div style="width:400px;height: auto;">
        <h2>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            
            {% csrf_token %}
            <div class="item-ip-change">
            {{ form.as_p }}
            </div>
            <button type="submit" class="button-cha" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
